@model IEnumerable<eMusicStore.Web.Models.Genre>
@{
    ViewBag.Title = "流派浏览";
}

<h2>@ViewBag.Title</h2>
<h4>一共有 @Model.Count() 流派</h4>
<ul>
    @foreach (var genre in Model)
    {
        <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
    }
</ul>

