@model IEnumerable<eMusicStore.Web.Models.Album>
@{
    ViewBag.Title = "首页";
}

<div class="container text-center">
    <img alt="首页" src="~/Content/Images/home-showcase.png" />
</div>
<div class="col-md-12">
    <h3>热门专辑推荐</h3>
    <table class="table">
        <tr>
            @foreach (var album in Model)
            {
                <td>
                    <a href="@Url.Action("Details", "Store", new { id = album.AlbumId })">
                        <img alt="@album.Title" src="@album.AlbumArtUrl" /><br />
                        <span>@album.Title</span>
                    </a>
                </td>
            }
        </tr>
    </table>
</div>